site_name: VLLM Kubernetes
site_url: https://mydomain.org/
theme:
  name: material
  features:
  - navigation.instant
  - navigation.tabs
  - navigation.sections
  - toc:
      permalink: true
  - search.highlight
  - content.code.copy

plugins:
  - search
  - glightbox

markdown_extensions:
  - pymdownx.highlight:
      linenums: true
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js
  - javascripts/config.js
extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css

nav:
  - Home: index.md
  - Quickstart: quickstart.md
